.cart-item-container{
    width: 100%;
    display: flex;
    justify-content: center;

    height: 100vh;
}
.order-button{
    border: 1px solid white;
    
    background-color: #1C2B35;
    cursor: pointer;
    color: white;
    padding: 4px 10px;
    margin: 5px 0px;
    
}