.cart-item-container{
    width: 100%;
    display: flex;
    justify-content: center;

    height: 100vh;
}
.order-procced{
    border: 1px solid white;
  
    background-color: #1C2B35;
    cursor: pointer;
    color: white;
    padding: 6px 13px;
    
}