
.cart{
    width: 100%;
    height: auto;
    background-color: #1C2B35;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.cart img {
    width: 80%;
    margin-bottom: 10px;
    
}
.name {
    border-top: 0.5px solid #ddd;
    padding: 10px;
    font-weight: 400;
}
.cart button {
    padding: 7px 20px ;
     border-radius: 3px;
    font-size: 16px;
    margin-top: 8px;
    cursor: pointer;
    background-color:#1C2B35 ;
    color: white;
    border: 2px solid white;
    transition: 0.3s;
}
.cart button:hover{
   background-color: white;
   color: black;
}